
.rates-wrap hr {
	margin-bottom: 35px;
}

.rates-wrap p:first-child {
	padding-top: 5%;
}

.rates-wrap h3 {

	width: 50%;
	float: left;
	border: 1px solid #fff;
	border-radius: 6px 0px 0px 6px;
	position: relative;
	overflow: hidden;
	margin-bottom: 6px;
}

.rates-wrap h3.sale-rate {
	border-left: none;
	border-radius: 0px 6px 6px 0px;
}

.rates-wrap h3.sale-rate label {
	background: #b2c224;
}

.rates-wrap h3 span {
	display: block;
	font-size: 24px;
	font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
	border-top: 1px solid #fff;
	padding: 5px;
}

.rates-wrap h3 label {
	display: block;
	background: #f89f1b;
    padding: 5px 0 10px;
    font-size: 20px;
}

.rates-wrap:after {
	content:'';
	display: block;
	float: none;
	clear: both;
}