.promo-listings-omc {
	padding-top: 30px;
	width: auto;
	margin: 0px -15px;
}

.promo-listings-omc p {
	padding: 6px 25px;
	font-size: 18px;
}

#section-0 .layout-1 h3 {
	font-size: 34px;
}

#section-0 .partners-img-wrap {
	border: none;
	text-align: center;
}

#section-0 .pl-omc p {
	font-size: 18px;
	padding: 6px 25px;
}

.promo-listings-omc .owl-dots .owl-dot {
	margin: 20px 5px 0;
}

.home-latest {
	padding-bottom: 35px;
}

.h-omc-featured {
	margin-top: 60px;
}

.home-wrap-section #section-0 .layout-1 ul {
	padding-right: 30px;
}

.home-wrap-section #section-0 .layout-1 ul li {
	display: block;
	float: none;
	width: auto;
}

.card-list .card-item-discount:before {
      top: 50%;
      margin-top: -27px; 
}

.filter-bg ul li a {
  display: table-row !important;
  pointer-events: none; }


.filter-bg .wd-30 {
  width: 30%; }
  @media (max-width: 767px) {
    .filter-bg .wd-30 {
      width: 100%; } }

.filter-bg ul.wd-ul {
  padding-top: 0;
  margin-bottom: 20px; }
  .filter-bg ul.wd-ul li {
    padding: 10px 0;
    margin: 0;
    border: 0;
    background-color: #eef3bf;
    min-height: auto;
    display: table;
    width: 100%; }
    .filter-bg ul.wd-ul li:nth-child(2n) {
      background-color: #fff; }
    .filter-bg ul.wd-ul li:hover {
      background-color: #fde4be; }
    .filter-bg ul.wd-ul li .wd-30, .filter-bg ul.wd-ul li .wd-20, .filter-bg ul.wd-ul li .wd-15, .filter-bg ul.wd-ul li .wd-10 {
      display: table-cell;
      vertical-align: middle; }
      @media (max-width: 767px) {
        .filter-bg ul.wd-ul li .wd-30, .filter-bg ul.wd-ul li .wd-20, .filter-bg ul.wd-ul li .wd-15, .filter-bg ul.wd-ul li .wd-10 {
          display: block; } }
    .filter-bg ul.wd-ul li p {
      padding: 0 10px;
      font-size: 13px; }
      @media (max-width: 767px) {
        .filter-bg ul.wd-ul li p {
          padding-bottom: 3px; } }
      .filter-bg ul.wd-ul li p span {
        font-weight: 500;
        display: none;
        color: #999;
        min-width: 80px;
        margin-right: 5px; }
        @media (max-width: 767px) {
          .filter-bg ul.wd-ul li p span {
            display: inline-block; } }
  .filter-bg ul.wd-ul .wd-20 p {
    font-weight: 500; }


.biller-bg ul.wd-ul li {
  background: #fff;
  border: 1px solid #82d9ff;
  border-radius: 4px;
  margin-bottom: 5px; }
  @media (max-width: 767px) {
    .biller-bg ul.wd-ul li {
      margin-bottom: 10px; } }
  .biller-bg ul.wd-ul li .wd-20 p {
    font-weight: 300; }
  .biller-bg ul.wd-ul li p.null-left {
    padding-left: 0; }
    @media (max-width: 767px) {
      .biller-bg ul.wd-ul li p.null-left {
        padding-left: 120px;
        position: relative; } }
  @media (max-width: 767px) {
    .biller-bg ul.wd-ul li p {
      padding-left: 120px;
      position: relative; } }
  .biller-bg ul.wd-ul li:hover {
    background: #fff; }
  .biller-bg ul.wd-ul li .biller-label {
    min-width: 100px;
    font-weight: 300;
    position: absolute;
    top: 0;
    left: 10px;
    display: none; }
    @media (max-width: 767px) {
      .biller-bg ul.wd-ul li .biller-label {
        display: block; } }

.biller-list-img {
  padding-bottom: 33%;
  max-width: 120px;
  width: 100%;
  height: auto;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px; }
  @media (max-width: 767px) {
    .biller-list-img {
      padding-bottom: 18%;
      margin-bottom: 10px; } }
  .biller-list-img img {
    padding: 0px 10px;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }

.filter-hd {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 20px; }
  @media (max-width: 767px) {
    .filter-hd {
      display: none; } }
  .filter-hd .title, .filter-hd .discount, .filter-hd .contact, .filter-hd .wd-30, .filter-hd .wd-20, .filter-hd .wd-15, .filter-hd .wd-10 {
    background-color: #00adef;
    color: #ffffff;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin: 0 1px 0 0; }
  .filter-hd .title {
    width: 64%; }
  .filter-hd .discount, .filter-hd .contact {
    width: 18%; }



.sec-menu ul li {
  position: relative;
}

.sec-menu ul li.has-sub {
}

.sec-menu ul li.has-sub > a:after {

  content: "\f078";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  position: absolute;
  top: 5px;
  right: 0px;
  color: #00adef;
  z-index: 101;
  -webkit-transition: top 0.4s ease;
  -moz-transition: top 0.4s ease;
  -ms-transition: top 0.4s ease;
  -o-transition: top 0.4s ease;
  transition: top 0.4s ease;
}

.has-sub-item {
  padding-top: 21px;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 230px;
  display: none;
}

.has-sub-item.displayed {
  display: block;
}

.sec-menu-fix.is-fixed .has-sub-item {
  padding-top: 19px;
}

.sec-menu ul li.has-sub > a {
  color: #6d6e71;
  padding-right: 20px;
}

.sec-menu ul li.has-sub > a:before {
  display: none;
}

.sec-menu ul ul {
  
  padding-left: 0;
  background: #fff;
  padding-bottom: 10px;
  border: 1px solid #e6e6e6;
  border-top: none;
}

.sec-menu ul ul li {
  display: block;
  margin-bottom: 8px;

}

.related-content .h-new-title {
  border-top: none;
  padding-top: 0;
}

.related-content {
  padding-bottom: 0;
}

.related-content .h-news-item {
  padding-bottom: 0;
}

.related-content .h-new-title {
  padding-bottom: 20px;
}

@media (max-width: 992px) {

	.promo-listings-omc p { 
		padding: 6px 5px;
		font-size: 14px;
	}
}

@media (max-width: 767px) {
	#section-0 .layout-1 h3 {
		font-size: 27px;
	}

	.home-wrap-section #section-0 .col-sm-6 {
		text-align: left;
	}

	.home-wrap-section #section-1 .col-sm-6 {
		text-align: center;
	}

	.home-wrap-section #section-1 .sec-title {
		text-align: center;
	}

	.home-wrap-section #section-0 .layout-1 ul {
		padding-right: 0px;
	} 
}