// ionclude all your related style here in the footer, you can leave it empty if the page has no footer
footer {
	z-index: 2;
	position: relative;
	background: $coDarkGreen;

	&.add-space {
		@include breakpoint(tablet) {
			padding-bottom: 40px;
		}
	}

	

	.container {
		position: relative;

		&:after, &:before {
			content:'';
			display: block;
			float: none;
			clear: both;
		}
	}
}

.foot-note {
	background-color: darken($coGreen, 10%);
	@include box-shadow(0,5px,40px, rgba(0,0,0,0.2), inset);
	text-align: center;
	padding: 15px 0;
	font-size: 14px;
	color: #fff;

	@include breakpoint(tablet2) {
		padding: 10px 0;
	}
}

.get-wingapp {
	background: $coBlue;
	padding-bottom: 5px;

	@include breakpoint(tablet) {
		padding-bottom: 10px;
	}

	@include breakpoint(tablet2) {
		padding-bottom: 0;
	}
}

.wing-app-img {
	position: relative;
	top: -100px;
	width: 38%;
	float: left;

	@include breakpoint(phablet) {
		width: 80%;
		margin: 0 auto;
		position: relative;
		z-index: 10;
		float: none;
		clear: both;
		top: 0;
		text-align: center;
	}

	@include breakpoint(mobile) {
		width: 70%;
		margin: 0 auto;
	}

	img {
		max-width: 100%;
		height: auto;
		display: inline-block;
	}
}

.wing-app-detail {
	width: 62%;
	float: right;
	padding-top: 70px;
	padding-left: 35px;
	color: $coWhite;
	padding-right: 70px;
	padding-bottom: 100px;

	@include breakpoint(tablet) {
		padding-top: 30px;
		padding-right: 0;
		padding-left: 23px;
	}

	@include breakpoint(phablet) {
		float: none;
		clear: both;
		width: 100%;

		padding-bottom: 30px;
		text-align: center;
	}

	h2 {
		font-size: 55px;
		font-weight: 300;
		font-family: $fontA;
		margin-bottom: 30px;
		line-height: 55px;

		@include breakpoint(tablet) {
			font-size: 45px;
		}

		@include breakpoint(tablet2) {
			font-size: 35px;
			line-height: 40px;
		}

		/*@include breakpoint(tablet) {
			font-size: 40px;
			line-height: 45px;
		}*/
	}

	> h2 {
		display: none;

		.touch & {
			display: block !important;
		}
	}

	p {
		font-size: 16px;
		color: $coWhite;
		max-width: 405px;
	}

	@include breakpoint(tablet2) {
		padding: 30px 20px;
	}
}

.dl-app-wrap {

	display: block;

	.touch & {

		display: none !important;
	}

	ul  {
		margin: 30px 0px 50px;

		@include breakpoint(tablet) {
			margin: 30px 0 20px;
		}

		li {
			display: inline-block;
			margin-right: 15px;

			@include breakpoint(tablet) {
				width: 40%;
				margin-right: 1%;
				max-width: 165px;

				img {
					max-width: 100%;
					display: block;
					height: auto;
				}
			}
		}
	}

	.btn {
		min-width: 220px;
		letter-spacing: 0.5px;

		@include breakpoint(tablet2) {
			display: none;
		}
	}
}

.footer-menu, .f-menu {
	width: 65.66%;
	float: right;
	padding-top: 70px;
	padding-bottom: 50px;
	padding-left: 50px;

	@include breakpoint(tablet) {
		padding-top: 40px;
		padding-bottom: 30px;
		padding-left: 15px;
	}

	@include breakpoint(phablet) {
		width: 100%;
		float: none;
		padding-left: 0;
		padding-top: 20px;

	}


	h5, a {
		color: $coWhite;
		text-decoration: none;
	}

	h5.fm-title {
		font-weight: 700;
		font-size: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid $coWhite;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		position: relative;

		@include breakpoint(tablet2) {
			padding-bottom: 10px;

			&.active {

				&:before {
					@include transform(rotate(180deg));
				}
			}

			&:before {
				content: "\f078";
				display: block;
				display: inline-block;
			    font: normal normal normal 14px/1 FontAwesome;
			    font-size: inherit;
			    text-rendering: auto;
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			    position: absolute;
			    top: 2px;
			    right: 10px;
			    @include transform(rotate(0deg));
			    @include transition(transform 0.4s ease);
			}
		}
	}

	ul {
		margin-top: 20px;



		> li {
			padding-bottom: 8px;

			a {
				font-weight: 300;
				padding-bottom: 1px;
				position: relative;
				display: block;

				&:hover {

					&:before {
						opacity: 1;
						width: 100%;
					}
				}

				&:before {
					content:'';
					display: block;
					width: 0;
					@include transition(all 0.2s linear);
					opacity: 0;
					height: 2px;
					@extend .gradient-wrap2;
					position: absolute;
					bottom: -2px;
					left: 0;
				}
			}
		}
	}

	.col-sm-4 {

		@include breakpoint(tablet) {
			margin-bottom: 15px;
			padding-left: 0;
			padding-right: 0;

			ul {
				display: none;
			}
		}

	}
}

.footer-left {
	width: 34.33%;
	float: left;
	background: $coGreen;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	height: 100%;
	box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
	min-height: 310px;



	@include breakpoint(tablet) {
		padding-right: 20px;
	}

	@include breakpoint(tablet2) {
		min-height: 100px;
		height: auto;
	}

	@include breakpoint(phablet) {
		width: auto;
		float: none;
		clear: both;
		margin: 0px -15px 0 0;
		text-align: center;
	}

	&:before {
		content:'';
		width: 1000%;
		height: 100%;
		background: $coGreen;
		position: absolute;
		top: 0;
		right: 100%;
	}

	p {
		font-size: 14px;
		color: $coWhite;
		padding-top: 10px;
		padding-bottom: 10px;
		font-weight: 300;
		line-height: 18px;

		@include breakpoint(tablet) {
			font-size: 12px;
			padding-bottom: 0;
		}
	}
}

.footer-logo {
	max-width: 210px;

	@include breakpoint(tablet) {
		max-width: 170px;
		margin: 0 auto;
	}

	img {
		max-width: 100%;
		display: block;
		float: none;
		clear: both;
	}

	a {
		display: block;

	}
}

.wing-app-feature {
	position: relative;
	top: -40px;
	color: $coWhite;

	@include breakpoint(phablet) {
		background: $coWhite;
		top: 0;
		color: $coBlue;
		padding-top: 15px;
    	padding-bottom: 15px;

    	&:before {
    		content:'';
    		height: 150px;
    		width: 100%;
    		background: $coWhite;
    		position: absolute;
    		top: -149px;
    		left: 0;
    	}
	}

	h5 {
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 10px;
	}

	p {
		font-weight: 300;
		padding-bottom: 10px;
		font-size: 14px;
	}
}

.wf-item {
	padding-right: 25px;


	@include breakpoint(tablet2) {
		padding-bottom: 15px;
	}

	@include breakpoint(phablet) {
		padding-left: 0;
		padding-bottom: 0px;

		h5 {
			&.active {

				&:before {
					@include transform(rotate(180deg));
				}
			}

		    &:before {
		    	content: "\f078";
			    display: block;
			    display: inline-block;
			    font: normal normal normal 14px/1 FontAwesome;
			    font-size: inherit;
			    text-rendering: auto;
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			    position: absolute;
			    top: 2px;
			    right: 22px;
			    @include transition(transform 0.4s ease);
			    @include transform(rotate(0deg));
		    }
		}

		.textwidget {
			display: none;
			margin-bottom: 15px;
		}
	}
}
