// include all your new classess here that is intended for mobile. Only if necessary but please use breakpoints mixins

@media screen and (min-width: 768px) {

	.footer-menu {

		ul {
			display: block !important;
		}
	}

}
