 // includes all tags for paragraphs and titles such as header, p, span
h1 { 
	font-size: 55px;
	font-weight: 300;
	line-height: 60px;
	font-family: $fontA;
}
h2 { 
	font-size: 32px;
	font-weight: 300;
	line-height: 38px;
	font-family: $fontA;
}
h3 { 
	font-size: 30px;
	font-weight: 300;
	font-family: $fontA;

	@include breakpoint(tablet2) {
		font-size: 24px;
	}
}
h4 { 
	font-size: 24px;
	font-weight: 300;
	font-family: $fontA;

	@include breakpoint(tablet) {
		font-size: 20px;
	}

	@include breakpoint(tablet) {
		font-size: 18px;
	}
}
h5 { 
	font-size: 20px;
	font-weight: 300;
	font-family: $fontA;
}
h6 { 
	font-size: 16px;
	font-weight: 300;
	font-family: $fontA;
}
.par p { padding: 10px 0px; }
.par2 p { padding: 5px 0px; }

.text-center {
	text-align: center;
}
