// include all templated CSS properties here such as font sizes, margin, padding, color, background color, etc

// for width
$maxWidth   : 1024px; // can be use as max width of the container

// for fonts
$defaultFont: 'Roboto', 'Helvetica', 'Arial', 'sans-serif'; // default font families and error support for any html tags
$fontA      : 'montserrat', 'Helvetica', 'Arial', 'sans-serif';

// for font sizes
$fontSmall  : 12px;
$fontMedium : 14px;
$fontLarge  : 16px;
$fontxLarge : 18px;
$fontxxLarge: 20px;

// for colors
$defaultColor     : #6d6e71; // default color for the independent paragraphs, input fields, etc
$defaultLinkColor : #f15a24; // default link color for the whole sire
$coWhite          : #ffffff;
$coBlack          : #000000;
$coBlue          : #00adef;
$coDarkBlue          : #0398da;
$coLightBlue : #82d9ff;
$coGrey : #8d8d8d;
$coGreen : #b2c224;
$coDarkGreen : #98a620;
$coYellow : #fff200;
$coOrange : #f89f1b;
$coBorder : #dedee0;
$coRed : #f15a24;

// for background
$defaultBg : #000000;
$bgWhite : #ffffff;
$bgBlue  : #0098d7;
$bgOrange : #f25a29;
$bgDarkOrange: #f15a29;
$bgGreen : #b0c024;

// for image sprite
//$imgSprite: url('');
