.box-cc {
	padding: 20px 25px 15px;
	border: 1px solid $coLightBlue;
	max-width: 405px;
	border-radius: 4px;
	box-shadow: 0px 0px 10px rgba($coBlack, 0.1);
	margin-bottom: 25px;

	.text-center {
		text-align: left;
	}

	@include breakpoint(tablet) {
		padding: 30px 15px 15px;
		margin-bottom: 15px;
	}

	p {
		padding-bottom: 15px;
		font-size: 16px;

	}

	&.box-requirements {
		font-size: 14px;
	}

	&.center {
		margin: 0 auto;
	}
}

.box-cc-title {
	color: $coBlue;
	margin-bottom: 8px;
}

.pt1 {
	padding-top: 15px;

	@include breakpoint(tablet2) {
		padding-top: 15px;
	}
}

.pt2 {
	padding-top: 30px;
	@include breakpoint(tablet2) {
		padding-top: 15px;
	}
}

.pt3 {
	padding-top: 45px;
	@include breakpoint(tablet2) {
		padding-top: 15px;
	}
}

.mt1 {
	margin-top: 15px;
	@include breakpoint(tablet2) {
		margin-top: 15px;
	}
}

.mt2 {
	margin-top: 30px;
	@include breakpoint(tablet2) {
		margin-top: 15px;
	}
}

.mt3 {
	margin-top: 45px;

	@include breakpoint(tablet2) {
		margin-top: 15px;
	}
}

.pb1 {
	padding-bottom: 15px;

	@include breakpoint(tablet2) {
		padding-bottom: 15px;
	}
}

.pb2 {
	padding-bottom: 30px;

	@include breakpoint(tablet2) {
		padding-bottom: 15px;
	}
}

.pb3 {
	padding-bottom: 45px;

	@include breakpoint(tablet2) {
		padding-bottom: 15px;
	}
}

.mb1 {
	margin-bottom: 15px;

	@include breakpoint(tablet2) {
		padding-bottom: 15px;
	}
}

.mb2 {
	margin-bottom: 30px;

	@include breakpoint(tablet2) {
		margin-bottom: 15px;
	}
}

.mb3 {
	margin-bottom: 45px;

	@include breakpoint(tablet2) {
		margin-bottom: 15px;
	}
}

.text-layout-1 {
	margin-bottom: 20px;

	h4, h1, h2, h3, h5, h6 {
		color: $coBlue;
		margin-bottom: 10px;
	}
}


.box-video {
	position: relative;
	padding-bottom: 50%;

	iframe {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.play {
		background-color: rgba(0, 0, 0, 0.6);
		padding: 16px 28px;
		float: left;
		position: absolute;
		top: 43%;
		left: 42%;
		z-index: 1000;
		@include border-radius(16px);

		span {
			width: 0px;
			height: 0px;
			border-top: 9px solid transparent;
			border-bottom: 9px solid transparent;
			border-left: 17px solid white;
			float: left;
			text-indent: -9999px;
		}

		&:hover {
			background-color: red;
			cursor: pointer;
		}
	}

	video {
		background-color: #000;
	}
}

.wcx {

	@include breakpoint(tablet2) {
		padding:10px;
	}
}
.filter-bg {

	@include breakpoint(tablet2) {
		.row {
			margin: 0;
		}
	}

	.wd-20 { width: 20%;
		@include breakpoint(tablet2) {
			width: 100%;
		}
	}
	.wd-15 { width: 15%;
		@include breakpoint(tablet2) {
			width: 100%;
		}
	 }
	.wd-10 { width: 10%;
		@include breakpoint(tablet2) {
			width: 100%;
		}
	 }



  ul.wd-ul {
		padding-top: 0;
		margin-bottom: 20px;

		li {
			padding: 10px 0;
			margin: 0;
			border: 0;
			background-color: lighten($coGreen, 40%);

			&:nth-child(2n) {
				background-color: #fff;
			}

			&:hover {
				background-color: lighten($coOrange, 33%);

			}
			min-height: auto;

			.wd-20,.wd-15, .wd-10 { float: left;}

			p {
				padding: 0 10px;
				font-size: 13px;

				@include breakpoint(tablet2) {
					padding-bottom: 3px;
				}

				span {
					font-weight: 500;
					display: none;
					color: #999;
					min-width: 80px;
					margin-right: 5px;

					@include breakpoint(tablet2) {
						display: inline-block;
					}
				}
			}
		}

		.wd-20 {

			p {
				font-weight: 500;
			}
		}
	}

	.categ-title {
			font-size: 20px;
			text-align: left;
			padding: 6px 0px;

			strong {
				font-weight: 500;
			}

			@include breakpoint(tablet) {
				font-size: 18px;
			}

			@include breakpoint(mobile) {
				font-size: 16px;
				padding: 5px 10px;
			}

	}

	&.card-list {
		.flex {
			justify-content: flex-start;

			.card-item {
				min-width: 185px;
				max-width: 185px;

				@include breakpoint(tablet2) {
					min-width: 188px;
					max-width: 188px;
				}
			}
		}

	}
}

.filter-hd {
	display: flex;
	margin: 10px 0 20px;

	@include breakpoint(tablet2) {
		display: none;
	}

	.title, .discount, .contact, .wd-20, .wd-15, .wd-10 {
		background-color: $coBlue;
		color: $coWhite;
		padding: 10px ;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;
		margin: 0 1px 0 0;
	}
	.title {
		width: 64%;
	}
	.discount, .contact {
		width: 18%;
	}

}

.filter-gp {
	border: 1px solid $coLightBlue;
	padding: 10px;
	margin: 20px 0;

	ul {
		padding: 0;
		li {
			&:last-child {
				border: 0;
			}
		}
	}

	.filter-discount,
	.filter-contact {
		text-align: left;
		padding-left: 10px;

		p {
			font-size: 14px;
		}

		@include breakpoint(tablet2) {
			text-align: left;
			padding-left: 0;
		}
	}
}

.related-content {
	padding-bottom: 20px;

	@include breakpoint(tablet2) {
		padding-bottom: 30px;
	}

	.h-news-item {
		padding: 20px 0 30px;
	}
}
