.banner-news {
	max-height: 280px;
	min-height: 230px;

	.inner-banner-text.text-left {
		width: 75%;

		@include breakpoint(tablet2) {
			padding-top: 48px;
		}
	}

	@include breakpoint(tablet2) {
		min-height: 230px;
		max-height: 230px;
	}

	&.banner-single-page {

		@include breakpoint(tablet) {
			display: none;
		}
	}
}

.news-wrap {
	background: $coWhite;
}

.inner-banner-text {
	.categ-wrap {
		margin-bottom: 10px;
		display: inline-block;
		border: 1px solid $coWhite;
		color: $coWhite;
		padding: 5px 10px;
		opacity: 0.8;
		font-size: 14px;

		@include breakpoint(tablet) {
			display: none;
		}

	}

	
}

.banner-single-page {

	h1, .promo {
		@include breakpoint(tablet) {
			display: none;
		}
	}
}

.news-img {
	width: 40%;
	float: right;
	margin-bottom: 10px;
	position: relative;

	@include breakpoint(tablet2) {
		width: 100%;
		float: none;
		clear: both;
	}

	img {
		width: 100%;
		height: auto;
		display: block;
	}
}

.news-content {
	width: 60%;
	float: left;
	padding-right: 20px;

	.no-image & {
		width: 100%;
	}

	@include breakpoint(tablet2) {
		width: 100%;
		padding-right: 0;

	}

	h2 {
		margin-bottom: 10px;

		@include breakpoint(tablet2) {
			font-size: 28px;
		}

		a {
			font-weight: 500;
			color: $coBlue;
			display: block;
		}
	}

	p {
		font-size: 14px;
		padding-bottom: 10px;
		line-height: 22px;
	}
}

.news-item {
	&:after {
		content:'';
		display: block;
		float: none;
		clear: both;
	}
}

.news-tools {
		margin: 0;
		padding: 5px 0;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: $coWhite;

	ul {
		text-align: center;

		li {
			display: inline-block;
			text-align: center;
			margin: 0px 10px;

			a {
				color: $coBlue;
			}
		}
	}

	.favorite-wrap {

		i {
			color: $coOrange;
		}
	}

	.nw-value {
		font-weight: 700;
		font-size: 14px;
		margin-left: 5px;
		color: $defaultColor;
		font-family: Arial, Helvetica, sans-serif;
	}
}

.date-box {
	display: inline-block;
	padding: 3px 5px;
	border: 1px solid $coLightBlue;
	margin-bottom: 25px;
}

.quotes {
	padding: 30px 0;
	h4 {
		width: 80%;
		margin: auto;
	}

	p {
		width: 100%;
    font-style: italic;
    opacity: 0.8;
    margin-top: 5px;
    font-size: 16px;
    display: inline-block;
	}

	span {
		position: relative;
		font-size: 100px;
		float: left;
		top: -26px;
		height: 40px;
		opacity: 0.5;

		&:last-child {
			float: right;
		}
	}
}

.new-listings {
	> li {
		padding-bottom: 15px;
		padding-top: 35px;
		border-bottom: 1px solid $coLightBlue;
	}
}

.news-btn {
	padding: 3px 10px;
	font-size: 12px;
	margin-top: 20px;
}

.promo-listings {
	margin-bottom: 20px;
	overflow: hidden;
	margin: 0px -15px;

	li {
		border: 0;

		&:nth-child(2n+1) {
			clear: left;

			@include breakpoint(tablet2){
				clear: none;
			}
		}
/*
		@include breakpoint(tablet2) {

			&:nth-child(2n+1) {
				clear: left;

			}
		}*/
	}

	.news-item  {
		border: 1px solid #82d9ff;
		border-radius: 8px;
		position: relative;
		overflow: hidden;

		.news-img {
			width: 100%;
			float: none;
			clear: both;
		}
	}
}

.social-listings {

	margin: 0px -15px;

	&:after {
		content:'';
		display: block;
		float: none;
		clear: both;
	}

	> li {
		width: 50%;
		float: left;
		padding: 0px 15px;
		padding-top: 35px;
		border-bottom: none;

		&:nth-child(2n+1) {
			clear: left;
		}

		@include breakpoint(phablet) {
			width: 100%;
			float: none;
			clear: both;
		}
	}

	.news-item  {
		border: 1px solid #82d9ff;
		border-radius: 8px;
		position: relative;
		overflow: hidden;

		.news-img {
			width: 100%;
			float: none;
			clear: both;
		}
	}

	.news-content {
		width: 100%;
		padding-right: 0;
		padding: 15px;
	}
}

.promo-img {
	width: 100%;
	position: relative;
	margin-bottom: 0px;
	xborder: 1px solid #82d9ff;

	.news-content.promo-content {
		padding: 15px 15px 15px;
	}

	.news-tools {
		right: 0;
		left: auto;
	}
}

.promo-content {
	width: 100%;
	padding: 15px;

	h2 {
		font-size: 22px;
		line-height: 26px;
	}
}

.promo-duration {
	strong {
		color: #000;
	}
	font-weight: bold;
	color: $coOrange;
}

.pagination {
	margin: 30px 0 20px 0;
	background: $coWhite;

	ul {
		text-align: center;

		li {
			display: inline-block;
			text-align: center;
			margin: 0px 1px;
			vertical-align: middle;

			a {
				border: 1px solid $coLightBlue;
				width: 30px;
				height: 30px;
				text-align: center;
				line-height:30px;
				display: block;
				font-weight: 700;
				color: $defaultColor;
				background: transparent;

				&.active, &:hover {
					background: $coBlue;
					border: 1px solid $coBlue;
					color: $coWhite;
				}


				&.active {
					cursor: default;
				}

				.fa {
					position: relative;	
					top: -1px;
					font-size: 20px;
					line-height: 29px;
				}
			}
		}
	}
}

.news-single {
	margin-top: 35px;

	@include breakpoint(tablet) {
		xpadding-top: 48px;
		margin-top: 25px;
	}
}

.news-single-content {
	margin-bottom: 50px;

	.featured-img-wrap  {
		p {
			font-size: 12px;
			border-bottom: 1px solid #ddd;
			margin-bottom: 20px;
		}
	}

	.slip-img {
		margin-left: -5%;
		max-width: 105%;
	}

	p {
		padding-bottom: 15px;
	}

	h2, h3, h4, h5, h6 {
		margin: 20px 0 10px;
		font-family: $defaultFont;
		font-weight: 400;
		line-height: 1.2;
		color: #00adef;
	}

	h2 {
		font-size: 28px;

		@include breakpoint(tablet2) {
			font-size: 24px;
		}
	}

	h3 {
		font-size: 24px;

		@include breakpoint(tablet2) {
			font-size: 20px;
		}
	}

	h4 {
		font-size: 20px;

		@include breakpoint(tablet2) {
			font-size: 18px;
		}
	}

	h5 {
		font-size: 18px;

		@include breakpoint(tablet2) {
			font-size: 16px;
		}
	}

	h6 {
		font-size: 16px;

		@include breakpoint(tablet2) {
			font-size: 14px;
		}
	}

	b, strong {
		font-weight: 400;
	}

	a {
		font-weight: 300;
		color: $coOrange;
		word-break: break-all;

		&:hover {
			text-decoration: none;
		}
	}

	img.alignright {
		float:right; margin:0 0 1em 1em;
		max-width: 100%;
		height: auto;

		@include breakpoint(tablet2) {
			display: block;
			float: none;
			clear: both;
			margin-left: 0;
		}
	}

	img.alignleft {float:left; margin:0 1em 1em 0; max-width: 100%;
		height: auto;

		@include breakpoint(tablet2) {
			display: block;
			float: none;
			clear: both;
			margin-right: 0;
		}
	}
	img.aligncenter {display: block; margin-left: auto; margin-right: auto; margin-top: 1em; margin-bottom: 1em; max-width: 100%; height: auto;}
	a img.alignright {float:right; margin:0 0 1em 1em; max-width: 100%; height: auto;}
	a img.alignleft {float:left; margin:0 1em 1em 0; max-width: 100%; height: auto;}
	a img.aligncenter {display: block; margin-left: auto; margin-right: auto; margin-top: 1em; margin-bottom: 1em; max-width: 100%; height: auto;}

	h1 {
		color: $coBlue;

		@include breakpoint(tablet) {
			font-size: 45px;
			line-height: 55px;
		}

		&.post-title-mobile,  {
			display: none;
			margin-bottom: 10px;

			@include breakpoint(tablet) {
				display: block;
			} 
		}

		@include breakpoint(tablet2) {
			font-size: 43px;
			line-height: 43px;
		}

		@include breakpoint(phablet) {
			font-size: 33px;
			line-height: 33px;
		}
	}

	.promo-mobile {
		display: none;

		@include breakpoint(tablet) {
			display: block;
		} 
	}

	ul {
		padding-left: 25px;
		list-style-type: disc;
		padding-top: 15px;
		padding-bottom: 15px;

		&.bullets {
			padding-left: 0;

			li {
				list-style-type: none;

			}
		}

		li {
			padding-bottom: 5px;
		}
	}

	ol {
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 25px;
		list-style-type: decimal;

		li {
			padding-bottom: 5px;
			margin-bottom: 0;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}

	hr {
		border: none;
		border-bottom: 1px solid #ccc;
	}
}

.related-content {
	.h-new-title {
		border-top: 1px solid $coLightBlue;
		padding-top: 30px;
	}

	.h-news-item  h5 {
		font-weight: 700;
		text-transform: uppercase;
	}

	h3 {
		font-size: 24px;

		@include breakpoint(tablet2) {
			padding: 0px 10px;
		}
	}

	p {
		padding: 6px 0;
		font-size: 14px;

		@include breakpoint(tablet2) {
			padding: 6px 10px 6px;
		}
	}

	.a-link {

		@include breakpoint(tablet2) {
			padding: 0px 10px;
		}
	}
}

.side-list {
	margin-top: 1em;

	@include breakpoint(tablet2) {
		display: none;
	}

	&.side-list-mobile {
		display: none;

		@inlude breakpoint(tablet2) {
			display: block;
		}
	}

	h5 {
		font-size: 16px;
	  font-weight: 500;
		margin-bottom: 10px;
		color: $coBlue;
	}

	p {
		font-size: 14px;
		padding: 5px 0;
		border-bottom: 1px solid $coBlue;
		margin-bottom: 5px;

		a {color: $coBlue;}

		&:last-child {
			border: 0;
		}
	}

	.box {
		margin-bottom: 40px;
		img {
			width: 100%;
		}
	}
}

.tags-label {
	display: inline-block;
	margin-right: 8px;
}

.tags-list {
	margin: 25px 0;

	a {
		border: 1px solid $coLightBlue;
		padding: 5px 10px;
		color: $defaultColor;
		font-size: 13px;
		display: inline-block;
		margin-bottom: 5px;
		margin-right: 4px;

		&:hover {
			background: $coBlue;
			border: 1px solid $coBlue;
			color: $coWhite;
		}
	}
}

.publish-date {
	border: 1px solid #82d9ff;
    padding: 5px 10px;
    color: #6d6e71;
    font-size: 13px;
    display: inline-block;
    margin-bottom: 5px;
}

.featured-img-wrap {
	position: relative;

	span.categ-wrap {
		position: absolute;
		left: 0;
		width: auto;
		background: rgba($coBlue, 0.8);
		top: 0px;
		padding: 10px;
		font-weight: 700;
		color: $coWhite;
		letter-spacing: 0.5px;
		border: 2px solid $coBlue;

		@include breakpoint(tablet2) {
			padding: 8px;
			font-size: 14px;
		}
	}
}

.training-module-wrap {

	.news-single-content h1.post-title-mobile {
		display: block;
		font-size: 32px;
		line-height: 42px;
	}

	.news-single {
		padding-top: 0;
		margin-top: 15px;

		@include breakpoint(tablet2) {
			padding-bottom: 40px;
		}
	}

	.news-single-content {
		
		ul, ol {
			padding-bottom: 0;
		}
	}
}

#training-side-menu {
	@include breakpoint(tablet2) {
		display: none;
	}
}

.training-side-menu2 {
	display: none;

	@include breakpoint(tablet2) {
		display: block;
	}
}

.training-side-menu {

	&.is-top {
		top: 15px;
	}

	@include breakpoint(tablet2) {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		-webkit-box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.15);
    	box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.15);
    	background: $coWhite;
    	    z-index: 1222;
	}

	.mobile-custom-dropdown {


		&:before {
			@include breakpoint(tablet2) {
				right: 15px;
				font-size: 14px;
				margin-top: -9px;
			}
		}

		.custom-dropdown-menu {
			top: auto;
			bottom: 100%;
		}

		> .selected {

			@include breakpoint(tablet2) {
				padding: 8px 15px;
			}
		}

		.w-siblings {

			ul {
				display: none;

				@include breakpoint(tablet2) {
					display: none !important;
				}
			}
		}
	}


}


.inner-wrapper-sticky {

	@include breakpoint(tablet2) {
		position: fixed !important;
		bottom: 0 !important;
		top: auto !important;
		left: 0 !important;
		width: 100% !important;
		background: #fff;
		transform: translate3d(0px, 0px, 0px) !important;
	}
}
