.banner-inner {
	max-height: 430px;
	position: relative;
	overflow: hidden;
	height: 430px;
	background: $coDarkGreen;

	@include breakpoint(tablet2) {
		max-height: 280px;
		height: 280px;
		margin-top: 48px;
	}

	&.banner-small {
		max-height: 280px;
		min-height: 230px;

		.inner-banner-text.text-left {
			width: 75%;

			@include breakpoint(tablet2) {
				width: 100%;
			}
		}

		@include breakpoint(tablet2) {
			min-height: 230px;
			max-height: 230px;
		}
	}

	.coverimage {
		max-height: 430px;
		min-height: 430px;

		@include breakpoint(tablet2) {
			display: none;
		}
	}

	.table-wrap {

		&:before {
			@include breakpoint(tablet2) {
				content:'';
				position: absolute;
				width: 100%;
				height: 100%;
				background: rgba($coBlack, 0.15);
				top: 0;
				left: 0;
			}
		}

		.table-cell {
			position: relative;
			z-index: 10;
		}
	}
}

.inner-banner-text {

	h1 {
		font-family: $fontA;
		font-size: 55px;
		color: $coWhite;
		margin-bottom: 15px;

		@include breakpoint(tablet) {
			font-size: 45px;
		}

		@include breakpoint(tablet2) {
			font-size: 35px;
			line-height: 40px;
		}

		@include breakpoint(mobile) {
			font-size: 32px;
			line-height: 38px;
		}
	}

	p {
		font-size: 18px;
		color: $coWhite;
		font-weight: 300;

		@include breakpoint(mobile) {
			font-size: 14px;
		}
	}

	.promo {
		font-size: 18px;
		float: left;
		padding-top: 6px;
		background: $coDarkGreen;
		padding: 10px 20px;
	}

	&.text-left {
		width: 50%;
		float: left;

		@include breakpoint(tablet2) {
			width: 100%;
			float: none;
			clear: both;
			text-align: left;
		}
	}

	&.text-right {
		width: 50%;
		float: right;

		@include breakpoint(tablet2) {
			width: 100%;
			float: none;
			clear: both;
			text-align: right;
		}
	}
}

.play-btn {
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 30px;
	color: $coWhite;
	text-decoration: none;
	display: inline-block;
	margin-top: 25px;
	vertical-align: middle;

	span.play-icon {
		width: 20px;
		height: 20px;
		display: inline-block;
		margin-left: 10px;
		background: $coRed;
		border-radius: 50%;
		vertical-align: middle;
		position: relative;
		top: -1px;

		&:before {
			content:'';
			position: absolute;
			top: 6px;
			left: 7px;
			width: 0;
			height: 0;
			border-top: 4px solid transparent;
			border-left: 7px solid $coWhite;
			border-bottom: 4px solid transparent;
		}
	}
}

.sec-menu-wrap {
	padding-top: 10px;
	height: 76px;
	position: relative;
	padding-bottom: 20px;
	border-bottom: 1px solid #e6e6e6;
	background: $coWhite;

	.apply-btn {
		position: absolute;
		bottom: 5px;
		right: 15px;
		background: $coRed;
		border: 1px solid $coRed;
		font-weight: 500;
		@include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
		box-shadow: 0px 0px 0px rgba($coBlack, 0);


		@include breakpoint(tablet) {
			padding: 8px 15px;
			font-size: 13px;
		}

		&:hover {
			background: $coDarkGreen;
			border: 1px solid $coDarkGreen;
			box-shadow: 0px 1px 8px rgba($coBlack, 0.1);
		}
	}
}

.sec-menu-fix {
	position: absolute;
	top: 0;
	left: 0;
	background: $coWhite;
	width: 100%;
	z-index: 1000;


	&.is-fixed {
		position: fixed;
		box-shadow: 0px 2px 5px rgba($coBlack, 0.05);
		top: 0;
		@include transition(top 0.4s cubic-bezier(0.645, 0.045, 0.355, 1));

		@include breakpoint(tablet) {
			position: relative;
			box-shadow: none;

		}

		&.scroll-up {
			top: 125px;

			@include breakpoint(tablet) {
				top: 0;
			}
		}

		.sec-menu-fix-wrap {
			top: -12px;

			@include breakpoint(tablet) {
				top: 0;
			}
		}

		.apply-btn {
			bottom: -4px;

			@include breakpoint(tablet) {
				bottom: 0;
			}
		}

		.sec-menu-title {
			visibility: hidden;
			opacity: 0;
			margin-top: 0;

			@include breakpoint(tablet) {
				visibility: visible;
				opacity: 1;
				margin-top: 5px;
			}
		}
	}
}

.sec-menu-fix-wrap {

	position: relative;
	top: 0;
	@include transition(top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));

	div.container {
		position: relative;
		min-height: 31px;
	}
}

.sec-other-options {
	display: inline-block;
	border-bottom: 2px solid $coBlue;
	vertical-align: top;
	min-width: 175px;

	@include breakpoint(tablet2)  {
		max-width: 175px;
	}


	.mobile-custom-dropdown {
		padding-right: 20px;

		.selected {
			padding-left: 0;
			text-transform: uppercase;
			font-weight: 400;
			font-size: 14px;
			padding-top: 2px;
			padding-bottom: 2px;
			text-overflow: ellipsis;
			white-space: nowrap;
			position: relative;
			overflow: hidden;
			display: block;
			padding-right: 0;

			@include breakpoint(tablet) {
				font-size: 13px;
			}
		}
	}

	.custom-dropdown-menu {
		li.selected {
			text-transform: initial;
			padding-bottom: 0;
			padding-top: 0;
		}
	}
}

.sec-menu-title {
	font-size: 18px;
	font-family: $defaultFont;
	font-weight: 300;
	margin-top: 5px;
	@include transition(opacity 0.4s ease);

	@include breakpoint(tablet) {
		font-size: 14px;
	}
}

.sec-menu {
	display: inline-block;
	vertical-align: middle;

	.sec-menu-fix-wrap & {

		@include breakpoint(tablet) {
			display: none;
		}
	}

	&.no-item-left {

		ul {
			padding-left: 0;
		}
	}

	ul {
		padding-left: 20px;

		@include breakpoint(tablet2) {
			padding-left: 0;
		}

		li {
			display: inline-block;
			padding: 0px 15px;

			@include breakpoint(tablet) {
				padding: 0px 10px;
			}

			&.active {

				> a {

					&:before {
						opacity: 1;
						@include transform(scale(1));
					}
				}
			}

			> a {
				color: $coBlue;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 500;
				position: relative;

				@include breakpoint(tablet) {
					font-size: 13px;
					line-height: 25px;
					display: block;
				}

				&:hover {
					color: $coDarkBlue;
				}

				&:before {
					content:'';
					width: 100%;
					position: absolute;
					bottom: -6px;
					left: 0;
					border-bottom: 2px solid #00adef;
					opacity: 0;
					@include transition(all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1));
					@include transform(scale(0));

					@include breakpoint(tablet) {
						bottom: -3px;
					}
				}
			}
		}
	}
}

.card-list {

	margin-bottom: 20px;

	.flex {
		margin: 0px -8px;
		width: auto;
		flex-wrap: wrap;
		justify-content: center;
		display: flex;

		@include breakpoint(tablet2) {
			display: flex;
		}

		@include breakpoint(phablet) {
			margin: 0px -4px;
		}
	}

	.card-item-img {
		padding-bottom: 25%;
		width: 100%;
		height: auto;
		position: relative;
		margin-bottom: 10px;

		img {
			padding: 0px 10px;
			position: absolute;
			max-width: 100%;
			max-height: 100%;
			display: block;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
		}
	}

	.card-item {
		text-align: center;
		max-width: 280px;
		border: 1px solid #82d9ff;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		padding: 15px 0px;
		border-radius: 4px;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 186px;
		max-width: 186px;
		margin: 0px 8px;
		margin-bottom: 15px;

		@include breakpoint(phablet) {
			min-width: 180px;
			max-width: 180px;
			margin: 0px 4px 10px;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
		}

		@include breakpoint(mobile) {
			min-width: 140px;
			max-width: 140px;

		}
	}

	.card-content {
		padding: 0px 8px;
		width: 100%;
		display: block;

		p {
			color: $defaultColor;

			span {
				color: $coOrange;

				@include breakpoint(tablet2) {
					font-size: 12px;
				}
			}
		}

		a {
			word-break: break-all;
			font-size: 14px;
		}
	}

	.card-categ-title {
		background: #00adef;
	    color: #fff;
	    padding: 6px 10px;
	    border-radius: 4px;
	    margin-bottom: 10px;
	    font-size: 20px;
	    text-align: center;

	    @include breakpoint(tablet) {
	    	font-size: 18px;
	    }

	    @include breakpoint(mobile) {
	    	font-size: 16px;
	    	padding: 5px 10px;
	    }
	}
}
